doctype html
html
  head
    title Signup
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    !=css('signup')

  body
    nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a#brand.navbar-brand(href='#')
          i#brandlogo.fa.fa-paper-plane(aria-hidden='true')
          |  Friendly Stuff
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='#') About
          li
            a(href='#') Contact

    section#contact
      .container
        .row
          .col-md-6.col-sm-6.col-xs-12.support.vertical-align
            h1 Your Almost There !
            i#plane.fa.fa-paper-plane.fa-5x(aria-hidden='true')
            br
            p with us, a single post lets you sell on all your social media platforms
            br
            p  one post to rule them all!
          .col-md-6.col-sm-6.col-xs-12.contact-form
            form(role='form', action="/signup",method="post")
              .row
                .col-md-6.col-sm-12
                  .form-group
                    input#first.form-control(type='text', name="firstname", placeholder='First Name')
                .col-md-6.col-sm-12
                  .form-group
                    input#last.form-control(type='text', name="lastname", placeholder='Last Name')
                .col-md-12.col-sm-12
                  .form-group
                    input.form-control(type='tel', name="phone", placeholder='Phone Number')
                .col-md-12.col-sm-12
                  .form-group
                    input.form-control(type='email', name="username", placeholder='Email Address')
                .col-md-12.col-sm-12
                  .form-group
                    input.form-control(type='Password', name="password", placeholder='Password')
              |  
              button#getstarted.btn.btn-info.btn-lg
                i#brandlogo.fa.fa-paper-plane(aria-hidden='true')
                | Submit
    footer
      .copyrights.text-center  &copy; Copyright 2016 -Friendly Stuff