extends layout

block content
  h1 List all Users
  each row in user
    li User: #{row.username} createdAt: #{moment(row.createdAt).format('llll')} updatedAt: #{moment(row.updatedAt).format('llll')}
