/*
* General Stuff
*/
html {
	height: 100%;
}

body {
	background-image: url("../img/moon.jpg");
	background-size: cover;
	background-position: center;
}

div.outer-container {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
}

div.middle-container {
	display: table-cell;
	vertical-align: middle;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkYGCYycDAkA6jGRkgAC4IEsCvAgDsygc3ExWdUgAAAABJRU5ErkJggg==") repeat;
	background-attachment: fixed;
}
/*
* Login
*/
main#login-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
}

main#login-container input {
	margin: 10px auto;
}

main#login-container h1 {
	color: #fff;
}

main#login-container i.fa-key {
	color: #ffd700;
}

main#login-container a.btn {
	color: #fff;
}
/*
* Footer
*/
footer {
	text-align: center;
	bottom: 10px;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	color: #fff;
}

footer #copyright {
	padding: 0 5px;
}