body
    background-image url("../img/bg.jpg")
    background-size cover
    background-position center
    font-family Lato
    color white
    margin-top 2px

html
    height 100%

#content
    text-align center
    padding-top 20.5%
    text-shadow 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1)

h1
    font-weight 700
    font-size 5em

h2
    font-weight 700
    font-size 4.5em

hr
    width 450px
    border-top 1px solid #f8f8f8
    border-bottom 1px solid rgba(0,0,0,0.2)

.glyph
    padding 4px

#brandlogo
    padding-right 3px

#brand
    font-weight bold
    color #CC2828

#bs-example-navbar-collapse-1
    font-weight bold

.nav-user
    margin-top -25px
    margin-bottom 5px
    margin-right 5px
    text-shadow 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1)

#getstarted
    border-color transparent
    background-color #ff1d8e
    text-shadow 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1)

#login
    border-color transparent
    background-color #32C132

#signup
    border-color transparent
    background-color #6fb7ff

.circle1
    img
        padding -50px
        border-radius 50%
        width 70px
        height 70px
        margin-bottom 13px

.copyrights
    text-align center
    font-size 12px
    padding-top 140px
    font-weight bold