/**
 * Main
 **/
a.btn#logout {
	color: #fff;
}

main#main-container {
	margin-top: 50px;
}

.button {
	border-color: #0275d8;
	background-color: #5997cc;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	padding-top: 6px;
}

#main-container {
	margin-left: 300px;
	margin-right: 300px;
	font-weight: bold;
	color: #0275d8;
}

body {
	background-attachment: fixed;
}
/*lll*/
footer {
	padding-top: 20px;
	height: 50px;
}

p.name {
	color: #fff;
}

p.date {
	color: #d3d3d3;
	font-size: 14px;
}
